<!DOCTYPE html>
<html>
<head>
	<title></title>
<link href="/stylesheets/pointGuard.css">	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="/javascripts/pointGuard.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<!-- 
	<div class="container">
	    <div class="row">
	        <div class="col-xs-6">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <form class="form-inline" method="POST" action="/signup">
	                        <div class="form-group">
	                            <input type="text" name="user[name]" class="form-control" id="signUpName" placeholder="Name">
	                        </div>
	                        <div class="form-group">
	                            <input type="password" name="user[password]" class="form-control" id="signUpPassword" placeholder="Password">
	                        </div>
	                        <button class="btn btn-primary">Sign Up</button>
	                    </form>
	                </div>
	            </div>
	        </div>
	        	<div class="container">
	    <div class="row">
	        <div class="col-xs-6">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <form method="POST" action="/login" class="form-inline">
	                        <div class="form-group">
	                            <input type="text" name="user[name]" class="form-control" id="loginName" placeholder="Name">
	                        </div>
	                        <div class="form-group">
	                            <input type="password" name="user[password]" class="form-control" id="loginPassword" placeholder="Password">
	                        </div>
	                        <button class="btn btn-primary">Login</button>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	    </div>
	</div>	
-->
<div class="container">
	<div class="row" id="nickWrap">
		<p>Enter a username: </p>
		<p id="nickError"></p>
		<form id="setNick">
			<input size="35" id="nickname" autocomplete="off"></input>
			<input type="submit"></input>
		</form>
	</div>
</div>

	<!-- Chat -->
<div class="container">
	<div class="row" id="chat">	
		<div class="col-xs-7">
			<div class="panel panel-default" style="height: 500px">
				<div class="panel body">
					<div id="chat2" style="height: 420px"></div>
						<form id="send-message">
							<input id="message" style="height: 50px;width: 400px;margin-left: 40px" autocomplete="off"></input>
							<input type="submit"></input>
						</form>	
				</div>
			</div>		
		</div>
	<!-- Links to d3 charts -->
		<div class="col-xs-5">
			<div class="row">
				<div class="panel panel-default" style="height: 200px">
					<div><a href="/d3PointGuard" target="_blank">Player Efficiency Rating</a></div>
					<div><a href="/d3PointsPointGuard" target="_blank">Points, Points, Points</a></div>
					<div><a href="/d3WSPointGuard" target="_blank">Win Shares</a></div>
				</div>		
			</div>
	<!-- logged in users -->
			<div class="row">
				<div class="panel panel-default" style="height: 340px">
					<div id="signedInUsers">
					</div>							
				</div>		
			</div>			
		</div>		
	</div>
</div>		
</body>
</html>